@model KartyPrzedmiotow2.Models.KartaDoWyswietleniaMetodyDydaktyczne

@*<dt>
    @Html.DisplayNameFor(model => model.Skrot)
</dt>

<dd>
    @Html.DisplayFor(model => model.Skrot)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Nazwa)
</dt>

<dd>
    @Html.DisplayFor(model => model.Nazwa)
</dd>*@

<div class="col-xs-12">
    @Html.DisplayFor(model => model.Skrot)<text> </text>@Html.DisplayFor(model => model.Nazwa)
</div>